html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #EFEFEF;
  color: #353535;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

wrapper {
  display: block;
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}
