$white-color: #FFF;
$primary-color: #54e074;
$secondary-color: #424858;
$yellow-color: #ffec99;


html {
  height: 100%;
}

body {
  cursor: default;
  user-select:none;
  margin: 0;
  background-color: #EFEFEF;
  color: $secondary-color;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
